@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

/* CSS for nav bar */
.navbar {
	background-color: #111010;
	display: flex;
	flex-direction: row;
	padding: 30px 160px;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
}

.nav-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-list li {
	margin: 0 20px;
	color: #a2a1a1;
}

.btn-login {
	color: #eef6ff;
	background-color: #0c8bfd;
	border-radius: 30px;
	padding: 15px 35px;
	font-size: 17px;
	font-weight: 600;
}

/* CSS for hero section */
.hero-section {
	position: relative;
	background-color: #111010;
	color: #ffffff;
	padding-left: 160px;
	padding-top: 60px;
	padding-bottom: 170px;
	display: flex;
	flex-direction: row;
}

.text-section {
	width: 30vw;
}

.heading {
	font-size: 65px;
	font-weight: 700;
}

.heading span {
	color: #0c8bfd;
	font-weight: 700;
	font-style: italic;
}

#head-para {
	color: #8b8a8a;
	font-size: 22px;
	font-weight: 400;
	padding: 30px 0 50px 0;
	width: 30vw;
	line-height: 34px;
}

.get-started {
	color: #eef6ff;
	background-color: #0c8bfd;
	border-radius: 30px;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
}

.try-free {
	color: #eef6ff;
	background: transparent;
	border-radius: 30px;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid;
	margin-left: 30px;
}

.image-section img {
	position: absolute;
	top: 30;
	right: 180px;
}

/* CSS for all logo section */
.logo-section {
	background-color: #1d1c1c;
	padding: 45px 260px;
}

.all-logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* CSS for service section */
.service-section {
	background-color: #ffffff;
	color: #111010;
	padding: 100px 100px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.service-text {
	font-size: 58px;
	font-weight: 600;
	padding: 30px 0;
}

#all-service {
	color: #9d9d9d;
	font-size: 21px;
	width: 29vw;
}

.service-img {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 17px;
	text-align: center;
	font-weight: 500;
	padding: 30px 5px;
}

.service-img-fast {
	border: 2px solid #b0afaf;
	background-color: #ffffff;
	padding: 25px 0 55px 0;
	margin: 0 60px;
	margin-top: 100px;
	width: 30vw;
	border-radius: 30px;
}

.service-img-fast img {
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service-img p {
	font-size: 18px;
	color: #848484;
	font-weight: 500;
	padding-top: 20px;
}

.service-img-signal {
	color: #ffffff;
	border: 2 px solid #111010;
	background-color: #111010;
	padding: 25px 0 55px 0;
	width: 30vw;
	border-radius: 30px;
}

.service-img-signal img {
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service-img-heart {
	border: 2px solid #b0afaf;
	background-color: #ffffff;
	padding: 25px 0 55px 0;
	margin: 0 60px;
	margin-top: 100px;
	width: 30vw;
	border-radius: 30px;
}

.service-img-heart img {
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* CSS for features section */
.features {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	margin: 0 160px;
}

.text-feature {
	margin-top: 10px;
	margin-bottom: 50px;
}

.text-feature h1 {
	font-size: 55px;
	font-weight: 600;
}

.all-features {
	display: flex;
	flex-direction: row;
}

.left-feature {
	width: 55%;
}

.main-feature {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #0c8bfd;
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	padding: 35px 30px;
	border-radius: 60px;
}

.main-feature img {
	width: 30px;
}

.speed-feature {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 25px;
	font-weight: 600;
	padding: 35px 30px;
	border-radius: 60px;
	border: 2px solid #cac9c9;
}

.speed-feature img {
	width: 30px;
}

.security-feature {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 25px;
	font-weight: 600;
	padding: 35px 30px;
	border-radius: 60px;
	border: 2px solid #cac9c9;
}

.security-feature img {
	width: 30px;
}

.additional-feature {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 25px;
	font-weight: 600;
	padding: 35px 30px;
	border-radius: 60px;
	border: 2px solid #cac9c9;
}

.additional-feature img {
	width: 30px;
}

.support-feature {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 25px;
	font-weight: 600;
	padding: 35px 30px;
	border-radius: 60px;
	border: 2px solid #cac9c9;
}

.support-feature img {
	width: 30px;
}

.right-feature {
	width: 45%;
	background-color: #111010;
	color: #d9d9d9;
	margin-left: 50px;
	border-radius: 25px;
}

.website-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 30px 20px 10px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.email-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 0 20px 10px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.database-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 0 20px 10px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.bandwidth-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 0 20px 10px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.sub-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 0 20px 10px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.guarantee-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 0 20px 10px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.domain-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 0 20px 10px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.disk-feature {
	font-size: 18px;
	display: flex;
	background-color: #292828;
	margin: 0 20px 30px 20px;
	padding: 20px 10px;
	border-radius: 50px;
}

.dot {
	font-size: 8px;
	padding: 0 12px;
	background-color: #d9d9d9;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 20px;
}

/* CSS for service plan section */
.service-plan-section {
	background-color: #111010;
	margin: 140px 0;
	padding: 110px 150px;
}

.text-plan {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
}

.text-plan h1 {
	margin: 0 30px 100px 30px;
}

.all-plans {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.regular-premium-plan {
	background-color: #ffffff;
	padding: 30px 30px;
	width: 30%;
	border-radius: 30px;
}

.regular-premium {
	font-size: 35px;
	padding-bottom: 20px;
}

.reg-prem-cost {
	font-size: 50px;
}

.reg-prem-cost span {
	font-size: 35px;
	font-weight: 500;
	color: #b4b2b2;
}

.plans-text {
	font-size: 15px;
	margin: 20px 55px 20px 0;
	font-weight: 600;
}

.regular-text {
	margin-right: 30px;
}

.plans-hr {
	border: 1px solid #e7e7e7;
	margin: 30px 0;
}

.standard-plan {
	background-color: #0c8bfd;
	color: #ffffff;
	padding: 30px 30px;
	width: 30%;
	border-radius: 30px;
}

.standard {
	font-size: 35px;
	padding-bottom: 20px;
}

.standard-cost {
	font-size: 50px;
}

.standard-cost span {
	font-size: 35px;
	font-weight: 500;
	color: #b4b2b2;
}

.plan-benefits {
	font-size: 18px;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0;
}

#first-benefit {
	margin-top: 50px;
}

.plan-benefits p {
	margin-left: 13px;
}

.btn-select {
	font-size: 15px;
	font-weight: 600;
	background-color: #0c8bfd;
	color: #ffffff;
	border: none;
	border-radius: 50px;
	padding: 20px 135px;
	margin: 25px 20px 20px 0;
}

.btn-standard {
	color: #0c8bfd;
	background-color: #ffffff;
}

/* CSS for customer section */
.cust-comments {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 150px;
}

.cust-comments h1 {
	font-size: 50px;
	width: 40%;
}

.cust-comments p {
	font-size: 20px;
	color: #a09f9f;
	width: 40%;
	font-weight: 500;
}

.cust-rating {
	display: flex;
	flex-direction: row;
	margin: 100px 0 100px 150px;
}

.rating-card1 {
	background-color: #111010;
	color: #ffffff;
	padding: 40px 30px;
	border-radius: 30px;
	margin-right: 20px;
}

.rating-card2 {
	padding: 40px 30px;
	border-radius: 30px;
	border-left: 2px solid #cecece;
	border-top: 2px solid #cecece;
	border-bottom: 2px solid #cecece;
	margin-left: 40px;
	margin-right: -50px;
}

.cust-name {
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}

.cust-desig {
	font-size: 15px;
	font-weight: 500;
}

.cust-words {
	margin: 27px 0;
	font-size: 28px;
}

.progress-bar {
	background-color: #f3f3f3;
	width: 110%;
	border-radius: 15px;
	margin-left: 150px;
}

.bar {
	background-color: #0c8bfd;
	padding: 0.25%;
	border-radius: 15px;
	width: 10%;
}

/* CSS for sign up section */
.sign-up {
	background-color: #111010;
	margin-top: 150px;
	padding: 70px 150px;
}

.sign-up h1 {
	color: #ffffff;
	font-size: 50px;
	text-align: center;
	font-weight: 400;
	margin: 0 160px 70px 160px;
}

.signup-form {
	background-color: #292828;
	padding: 40px 0;
	margin-bottom: 90px;
	border-radius: 30px;
}

form {
	text-align: center;
}

input {
	background-color: #3e3d3d;
	font-size: 18px;
	padding: 20px 50px;
	margin: 0 10px;
	border-radius: 30px;
	border: none;
}

.btn-submit {
	background-color: #0c8bfd;
	color: #ffffff;
	font-size: 18px;
	padding: 20px 40px;
	margin: 0 10px;
	border-radius: 30px;
	border: none;
}

.signup-hr {
	border: 1px solid #535252;
}

footer {
	background-color: #111010;
	padding: 0 170px 80px 170px;
	color: #b0b0b0;
	font-weight: 500;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 70px;
}

.footer li {
	list-style-type: none;
	margin-bottom: 10px;
}

.head-li {
	font-size: 20px;
	padding-bottom: 10px;
	font-weight: 600;
}

footer img {
	margin-top: 40px;
}
