@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	max-width: 1920px;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

/* CSS for nav bar */
.navbar {
	background-color: #111010;
	display: flex;
	flex-direction: row;
	padding: 30px 160px;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
}

.nav-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-list li {
	margin: 0 20px;
	color: #a2a1a1;
}

.btn-login {
	color: #eef6ff;
	background-color: #0c8bfd;
	border-radius: 30px;
	padding: 15px 35px;
	font-size: 17px;
	font-weight: 600;
}

/* CSS for hero section */
.hero-section {
	position: relative;
	background-color: #111010;
	color: #ffffff;
	padding-left: 160px;
	padding-top: 60px;
	padding-bottom: 170px;
	display: flex;
	flex-direction: row;
}

.text-section {
	width: 40vw;
}

.heading {
	font-size: 65px;
	font-weight: 700;
}

.heading span {
	color: #0c8bfd;
	font-weight: 700;
	font-style: italic;
}

#head-para {
	width: 60%;
	color: #8b8a8a;
	font-size: 22px;
	font-weight: 400;
	padding: 30px 0 50px 0;
	width: 37vw;
	line-height: 34px;
}

.get-started {
	color: #eef6ff;
	background-color: #0c8bfd;
	border-radius: 30px;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
}

.try-free {
	color: #eef6ff;
	background: transparent;
	border-radius: 30px;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid;
	margin-left: 30px;
}

.image-section img {
	position: absolute;
	top: 30;
	right: 180px;
}

/* CSS for all logo section */
.logo-section {
	background-color: #1d1c1c;
	padding: 45px 260px;
}

.all-logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* CSS for service section */
.service-section {
	background-color: #ffffff;
	color: #111010;
	padding: 100px 100px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.service-text {
	font-size: 58px;
	font-weight: 600;
	padding: 30px 0;
}

#all-service {
	color: #9d9d9d;
	font-size: 21px;
	width: 32vw;
}

.service-img {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 17px;
	text-align: center;
	font-weight: 500;
	padding: 30px 5px;
}

.service-img-fast {
	border: 2px solid #b0afaf;
	background-color: #ffffff;
	padding: 25px 0 55px 0;
	margin: 0 60px;
	margin-top: 100px;
	width: 30vw;
	border-radius: 30px;
}

.service-img-fast img {
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service-img p {
	font-size: 18px;
	color: #848484;
	font-weight: 500;
	padding-top: 20px;
}

.service-img-signal {
	color: #ffffff;
	border: 2 px solid #111010;
	background-color: #111010;
	padding: 25px 0 55px 0;
	width: 30vw;
	border-radius: 30px;
}

.service-img-signal img {
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service-img-heart {
	border: 2px solid #b0afaf;
	background-color: #ffffff;
	padding: 25px 0 55px 0;
	margin: 0 60px;
	margin-top: 100px;
	width: 30vw;
	border-radius: 30px;
}

.service-img-heart img {
	padding-bottom: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
